*{ 
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #9D9171;
    font-family:  verdada;
}

h2 {
    width: 100%;
    padding: 15px;
    margin-bottom: 1vh;
    color: #222222;
    height: 7vh;    
}

.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 30px;
    grid-template-areas: 
            "header header header"
            "menu contenido toolbar"
            "menu contenido toolbar"
            "menu contenido toolbar"
            "menu footer footer";
    grid-gap: 10px;
    height: 92vh;
    padding: 0 15px;
}

.contenedor > *{
    background-color: #B07156;
    border-radius: 5px;
    padding: 10px;
}

.header {
    background-color: #533745;
    color: #222222;
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.contenido {
    grid-area: contenido;
}

.toolbar {
    grid-area: toolbar;
}

footer { 
    grid-area: footer;
}

