@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body { 
    margin: 0px;
    padding: 0px; 
    background-image: url(pictures/Wallpeper.jpg);
    background-position: 50% 50%;
    height: 100vh;
}

.contenedor { 
    width: 70%;
    height: 220px;
    border: 5px solid blue;
    border-radius: 20px;
    background-color: lightgray;
    margin: 100px auto;
}

.titulo {
    text-align: center;
    color: blue;
    font-family: 'MuseoModerno', cursive;
    font-size: 2em;
}

.informacion{
    width: 100%;
    height: 100%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Ref-Redes{
    width: 100%;
    height: 100%;
    
}

.Ref ul{
    width: 100%;
    margin: 10px 20px;
    display: flex;    
    flex-direction: column;  
    align-content: flex-end;     
}

.Redes ul{
    width: 50%;
    height: 35%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}

Form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    justify-content: space-around;
    
}

input {
    margin: 2px;
}

button {
    width: 50px;
    margin: 5px;
}

